<div>
  <h2><%= @list.name %></h2>
  <ul>
 <% @bookmarks.each do |bookmark| %>
  <li>
    <% movie = bookmark.movie %>
    <%= movie.title %>
    <%= movie.overview %>
    <%= movie.poster_url %>
    <%= movie.rating %>
 </li>
  </ul>
   <% end  %>

<%= link_to "Add movie", new_list_bookmark_path(@list) %>
